[submodule "site/pack/simpoir/opt/vim-colorschemes"]
	path = site/pack/simpoir/opt/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "site/pack/simpoir/opt/vim-airline"]
	path = site/pack/simpoir/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "site/pack/simpoir/opt/vim-airline-themes"]
	path = site/pack/simpoir/opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "site/pack/simpoir/opt/vim-signify"]
	path = site/pack/simpoir/opt/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "site/pack/simpoir/opt/vim-which-key"]
	path = site/pack/simpoir/opt/vim-which-key
	url = https://github.com/liuchengxu/vim-which-key
[submodule "site/pack/simpoir/opt/vim-eighties"]
	path = site/pack/simpoir/opt/vim-eighties
	url = https://github.com/justincampbell/vim-eighties
[submodule "site/pack/simpoir/opt/indentLine"]
	path = site/pack/simpoir/opt/indentLine
	url = https://github.com/yggdroot/indentLine
[submodule "site/pack/simpoir/opt/ex-showmarks"]
	path = site/pack/simpoir/opt/ex-showmarks
	url = https://github.com/exvim/ex-showmarks
[submodule "site/pack/simpoir/opt/mason.nvim"]
	path = site/pack/simpoir/opt/mason.nvim
	url = https://github.com/williamboman/mason.nvim
[submodule "site/pack/simpoir/opt/mason-lspconfig.nvim"]
	path = site/pack/simpoir/opt/mason-lspconfig.nvim
	url = https://github.com/williamboman/mason-lspconfig.nvim
[submodule "site/pack/simpoir/opt/nvim-lspconfig"]
	path = site/pack/simpoir/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "site/pack/simpoir/opt/nvim-dap"]
	path = site/pack/simpoir/opt/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "site/pack/simpoir/opt/nvim-dap-virtual-text"]
	path = site/pack/simpoir/opt/nvim-dap-virtual-text
	url = https://github.com/theHamsta/nvim-dap-virtual-text
[submodule "site/pack/simpoir/opt/plenary.nvim"]
	path = site/pack/simpoir/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "site/pack/simpoir/opt/null-ls.nvim"]
	path = site/pack/simpoir/opt/null-ls.nvim
	url = https://github.com/jose-elias-alvarez/null-ls.nvim
[submodule "site/pack/simpoir/opt/jinja.vim"]
	path = site/pack/simpoir/opt/jinja.vim
	url = https://github.com/HiPhish/jinja.vim
[submodule "site/pack/simpoir/opt/alpha-nvim"]
	path = site/pack/simpoir/opt/alpha-nvim
	url = https://github.com/goolord/alpha-nvim
[submodule "site/pack/simpoir/opt/vim-localvimrc"]
	path = site/pack/simpoir/opt/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc
[submodule "site/pack/simpoir/opt/vim-test"]
	path = site/pack/simpoir/opt/vim-test
	url = https://github.com/janko-m/vim-test
[submodule "site/pack/simpoir/opt/lsp_signature.nvim"]
	path = site/pack/simpoir/opt/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim
[submodule "site/pack/simpoir/opt/deb.vim"]
	path = site/pack/simpoir/opt/deb.vim
	url = https://github.com/knatsakis/deb.vim
[submodule "site/pack/simpoir/opt/todo.txt-vim"]
	path = site/pack/simpoir/opt/todo.txt-vim
	url = https://github.com/dbeniamine/todo.txt-vim
[submodule "site/pack/simpoir/opt/trouble.nvim"]
	path = site/pack/simpoir/opt/trouble.nvim
	url = https://github.com/folke/trouble.nvim
[submodule "site/pack/simpoir/opt/nvim-treesitter"]
	path = site/pack/simpoir/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "site/pack/simpoir/opt/nvim-treesitter-textobjects"]
	path = site/pack/simpoir/opt/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
[submodule "site/pack/simpoir/opt/nvim-ts-autotag"]
	path = site/pack/simpoir/opt/nvim-ts-autotag
	url = https://github.com/windwp/nvim-ts-autotag
[submodule "site/pack/simpoir/opt/vim-sleuth"]
	path = site/pack/simpoir/opt/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "site/pack/simpoir/opt/vim-move"]
	path = site/pack/simpoir/opt/vim-move
	url = https://github.com/matze/vim-move
[submodule "site/pack/simpoir/opt/jqno-extractvariable.vim"]
	path = site/pack/simpoir/opt/jqno-extractvariable.vim
	url = https://github.com/jqno/jqno-extractvariable.vim
[submodule "site/pack/simpoir/opt/vim-surround"]
	path = site/pack/simpoir/opt/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "site/pack/simpoir/opt/vim-commentary"]
	path = site/pack/simpoir/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "site/pack/simpoir/opt/nvim-autopairs"]
	path = site/pack/simpoir/opt/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
[submodule "site/pack/simpoir/opt/telescope.nvim"]
	path = site/pack/simpoir/opt/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "site/pack/simpoir/opt/vim-obsession"]
	path = site/pack/simpoir/opt/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "site/pack/simpoir/opt/vim-fugitive"]
	path = site/pack/simpoir/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "site/pack/simpoir/opt/vim-grepper"]
	path = site/pack/simpoir/opt/vim-grepper
	url = https://github.com/mhinz/vim-grepper
[submodule "site/pack/simpoir/opt/vim-rooter"]
	path = site/pack/simpoir/opt/vim-rooter
	url = https://github.com/airblade/vim-rooter
[submodule "site/pack/simpoir/opt/patchreview-vim"]
	path = site/pack/simpoir/opt/patchreview-vim
	url = https://github.com/junkblocker/patchreview-vim
[submodule "site/pack/simpoir/opt/undotree"]
	path = site/pack/simpoir/opt/undotree
	url = https://github.com/mbbill/undotree
[submodule "site/pack/simpoir/opt/vim-fetch"]
	path = site/pack/simpoir/opt/vim-fetch
	url = https://github.com/kopischke/vim-fetch
[submodule "site/pack/simpoir/opt/nvim-tree.lua"]
	path = site/pack/simpoir/opt/nvim-tree.lua
	url = https://github.com/kyazdani42/nvim-tree.lua
[submodule "site/pack/simpoir/opt/tagbar"]
	path = site/pack/simpoir/opt/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "site/pack/simpoir/opt/vim-cool"]
	path = site/pack/simpoir/opt/vim-cool
	url = https://github.com/romainl/vim-cool
[submodule "site/pack/simpoir/opt/firenvim"]
	path = site/pack/simpoir/opt/firenvim
	url = https://github.com/glacambre/firenvim
